<ul class="main-navigation-menu">
	<%if current_user.has_role? :admin%>
	<li>
		<a href="javascript:void(0)"><i class="clip-grid-6"></i> <span class="title"> Administración  </span><i class="icon-arrow"></i> </a>
		<ul class="sub-menu" style="display: none;">
			<li>
				<a href="/users" class="<%= get_active_menu_css('users') %>" ></i><span class="title">Usuarios</span></a>
			</li>
			<li>
				<a href="/courses" class="<%= get_active_menu_css('courses') %>" ></i><span class="title">Materias</span></a>
			</li>
		</ul>
	</li>
	<%end%>
	<li class="<%= get_active_menu_css('consejeria') %>">
		<a href="javascript:void(0)"><i class="clip-bubbles-2"></i> <span class="title"> Consejería  </span><i class="icon-arrow"></i> </a>
		<ul class="sub-menu" style="display: none;">
			<li>
				<a href="/consejeria"></i><span class="title">Calendario</span></a>
			</li>
			<li>
				<a href="/appointments"><span class="title">Citas</span></a>
			</li>
			<%if current_user.has_role? :consejero%>
			<li>
				<a href="/schedules"><span class="title">Mis horarios de atención</span></a>
			</li>
			<%end%>
		</ul>
	</li>
	<li>
		<a href="javascript:void(0)"><i class="clip-bubbles-2"></i> <span class="title"> SAE </span><i class="icon-arrow"></i> </a>
		<ul class="sub-menu" style="display: none;">
			<li>
				<a href="/courses/catalogo"></i><span class="title">Catálogo de materias</span></a>
			</li>
			<li>
				<a href="/courses"></i><span class="title">Mis materias</span></a>
			</li>
			<li>
				<a href="/courses"></i><span class="title">Mis secciones</span></a>
			</li>
		</ul>
	</li>
</ul>

